extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Hey There! come and see what I've been building...

      p.lead.text-light
        | I've developed different projects such as making fun games, using api's, implementing forms and real time error checking.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      
      each proj, index in project

        a.cell(href=`/projects/${proj.id}` target="_blank")
          img.thumbnail( src= "/img/" + `${proj.image_urls[0]}` alt= `${proj.image_alt}`)
          h5=`${proj.project_name}`
        

      
